{
	"singleQuote": true,
	"semi": false,
	"bracketSpacing": true,
	"trailingComma": "es5",
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-tailwindcss"]
}
